<div class="container">
  <div class="container-fluid">

    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
 <h1>Calculadora</h1>
      </div>
     </div>
  </div>

  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">

  <form class="calculadora" action="/calculadora" method="post">

    <div class="form-group">
    <label for="txtNumero1">Ingrese un numero:</label>
    <input type="number" class="form-control" id="txtNumero1" name="txtNumero1" value ="{{txtNumero1}}"><br><br>
    </div>

    <div class="form-group">
    <label for="txtNumero2">Ingrese otro numero:</label>
    <input type="number" class="form-control" id="txtNumero2"
           name="txtNumero2" value ="{{txtNumero2}}"><br><br>
    </div>


    <input type="submit"  value="Sumar"name="btnSumar">
    <input type="submit"  value="restar" name="btnRestar">
    <input type="submit"   value="multi" name="btnMultipiplciar">
    <input type="submit"  value="divi" name="btnDividir">

  </form>
  {{#if resultado}}
  <div>
    El resultado es {{resultado}}
  </div>
  {{/if}}

 </div>
</div>
</div>
